{:algebra-1
 {:algebra-foundations
  ["Evaluating expressions with one variable"
   "Evaluating expressions with multiple variables"
   "Evaluating expressions with two variables: fractions & decimals"
   "Combining like terms with negative coefficients"
   "Combining like terms with negative coefficients & distribution"
   "Combining like terms with rational coefficients"
   "Equivalent expressions"]
  :solving-equations-and-inequalities
  ["Equations with variables on both sides"
   "Equations with variables on both sides: decimals & fractions"
   "Equations with parentheses"
   "Reasoning with linear equations"
   "Number of solutions to equations"
   "Number of solutions to equations challenge"
   "Linear equations with unknown coefficients"
   "Multi-step linear inequalities"
   "Using inequalities to solve problems"
   "Compound inequalities"]
  :working-with-units
  ["Rate conversion"
   "Defining appropriate quantities for modeling"
   "Formulas and units"
   "Using units to solve problems"]
  :linear-equations-and-graphs
  ["Solutions to 2-variable equations"
   "Complete solutions to 2-variable equations"
   "Slope from graph"
   "Graphing from slope"
   "Slope in a table"
   "Slope from two points"
   "Horizontal & vertical lines"
   "Intercepts from a graph"
   "Intercepts from an equation"
   "Intercepts from a table"
   "Relating linear contexts to graph features"
   "Using slope and intercepts in context"
   "Linear equations word problems: tables"
   "Linear equations word problems: graphs"
   "Graphing linear relationships word problems"]
  :forms-of-linear-equations
  ["Slope-intercept intro"
   "Linear equations word problems"
   "Graph from slope-intercept form"
   "Slope-intercept equation from graph"
   "Slope-intercept from two points"
   "Writing linear equations word problems"
   "Point-slope form"
   "Graph from linear standard form"
   "Convert linear equations to standard form"
   "Slope from equation"
   "Linear equations in any form"]
  :systems-of-equations
  ["Solutions of systems of equations"
   "Systems of equations with graphing"
   "Creating systems in context"
   "Interpret points relative to a system"
   "Systems of equations with substitution"
   "Combining equations"
   "Elimination strategies"
   "Systems of equations with elimination"
   "Systems of equations with elimination challenge"
   "Reasoning with systems of equations"
   "Number of solutions to a system of equations graphically"
   "Number of solutions to a system of equations algebraically"
   "Age word problems"
   "Systems of equations word problems"
   "Systems of equations word problems (with zero and infinite solutions)"]
  :inequalities
  ["Solutions of inequalities: algebraic"
   "Solutions of inequalities: graphical"
   "Solutions of systems of inequalities"
   "Graphs of inequalities"
   "Two-variable inequalities from their graphs"
   "Systems of inequalities graphs"
   "Two-variable inequalities word problems"
   "Systems of inequalities word problems"
   ""]
  :functions
  ["Evaluate functions"
   "Evaluate functions from their graph" 
   "Evaluate function expressions"
   "Function inputs & outputs: equation"
   "Function inputs & outputs: graph"
   "Function rules from equations"
   "Function notation word problems"
   "Domain and range from graph"
   "Identifying values in the domain"
   "Determine the domain of functions"
   "Function domain word problems"
   "Recognize functions from graphs"
   "Recognize functions from tables"
   "Relative maxima and minima"
   "Absolute maxima and minima"
   "Positive and negative intervals"
   "Increasing and decreasing intervals"
   "Graph interpretation word problems"
   "Average rate of change: graphs & tables"
   "Average rate of change word problems"
   "Evaluate inverse functions"
   "Finding inverses of linear functions"]
  :sequences
  ["Extend arithmetic sequences"
   "Use arithmetic sequence formulas"
   "Recursive formulas for arithmetic sequences"
   "Explicit formulas for arithmetic sequences"
   "Converting recursive & explicit forms of arithmetic sequences"
   "Extend geometric sequences"
   "Extend geometric sequences: negatives & fractions"
   "Use geometric sequence formulas"
   "Recursive formulas for geometric sequences"
   "Explicit formulas for geometric sequences"
   "Converting recursive & explicit forms of geometric sequences"
   "Sequences word problems"
   "Evaluate sequences in recursive form"
   "Sequences and domain"]
  :absolute-value-and-piecewise-functions
  ["Shift absolute value graphs"
   "Scale & reflect absolute value graphs"
   "Graph absolute value functions"
   "Evaluate piecewise functions"
   "Evaluate step functions"
   "Piecewise functions graphs"]
  :exponents-and-radicals
  ["Multiply & divide powers (integer exponents)"
   "Powers of products & quotients (integer exponents)"
   "Properties of exponents challenge (integer exponents)"
   "Square roots"
   "Roots of decimals & fractions"
   "Cube roots"
   "Simplify square roots"
   "Simplify square roots (variables)"
   "Simplify square-root expressions"]
  :exponential-growth-and-decay
  ["Exponential vs. linear growth"
   "Exponential vs. linear models"
   "Exponential expressions word problems (numerical)"
   "Exponential expressions word problems (algebraic)"
   "Interpret exponential expressions word problems"
   "Graphs of exponential growth"
   "Exponential vs. linear growth over time"
   "Exponential growth vs. decay"
   "Graphing exponential growth & decay"
   "Writing functions with exponential decay"
   "Exponential functions from tables & graphs"
   "Connecting exponential graphs with contexts"
   "Linear vs. exponential growth: from data"]
  :quadratics-multiplying-and-factoring
  ["Polynomials intro"
   "Multiply monomials by polynomials (basic): area model"
   "Multiply binomials: area model"
   "Multiply binomials intro"
   "Multiply binomials"
   "Multiply difference of squares"
   "Multiply perfect squares of binomials"
   "GCF factoring introduction"
   "Factoring quadratics intro"
   "Factoring quadratics with a common factor"
   "Factor quadratics by grouping"
   "Difference of squares intro"
   "Difference of squares"
   "Perfect squares intro"
   "Perfect squares"]
  :quadratic-functions-and-equations
  ["Parabolas intro"
   "Interpret parabolas in context"
   "Interpret a quadratic graph"
   "Zero product property"
   "Graph quadratics in factored form"
   "Quadratic word problems (factored form)"
   "Quadratics by taking square roots (intro)"
   "Quadratics by taking square roots"
   "Quadratics by taking square roots: strategy"
   "Quadratics by taking square roots: with steps"
   "Graph quadratics in vertex form"
   "Quadratic word problems (vertex form)"
   "Quadratics by factoring (intro)"
   "Quadratics by factoring"
   "Solve equations using structure"
   "Quadratic formula"
   "Number of solutions of quadratic equations"
   "Completing the square (intro)"
   "Completing the square (intermediate)"
   "Solve equations by completing the square"
   "Completing the square"
   "Strategy in solving quadratics"
   "Graph quadratics in standard form"
   "Quadratic word problems (standard form)"
   "Features of quadratic functions: strategy"
   "Features of quadratic functions"
   "Graph parabolas in all forms"
   "Interpret quadratic models"
   "Compare quadratic functions"
   "Shift parabolas"
   "Scale & reflect parabolas"]
  :irrational-numbers
  ["Classify numbers: rational & irrational"
   "Rational vs. irrational expressions"]}
   :algebra-2
   {"Polynomial arithmetic" 
    ["Polynomials intro"
     "Average rate of change of polynomials"
     "Add polynomials (intro)"
     "Subtract polynomials (intro)"
     "Add & subtract polynomials"
     "Multiply monomials"
     "Multiply monomials by polynomials: area model"
     "Multiply monomials by polynomials"
     "Multiply binomials by polynomials: area model"
     "Multiply binomials by polynomials"
     "Polynomial special products: difference of squares"
     "Polynomial special products: perfect square"]
    "Complex numbers"
    ["Simplify roots of negative numbers"
     "Powers of the imaginary unit"
     "Parts of complex numbers"
     "Classify complex numbers"
     "Plot numbers on the complex plane"
     "Add & subtract complex numbers"
     "Multiply complex numbers (basic)"
     "Multiply complex numbers"
     "Solve quadratic equations: complex solutions"]
    "Polynomial factorization"
    ["Factor monomials"
     "Greatest common factor of monomials"
     "Factor polynomials: common factor"
     "Factor higher degree polynomials"
     "Identify quadratic patterns"
     "Factorization with substitution"
     "Factor polynomials using structure"
     "Polynomial identities"
     "Geometric series formula"
     "Finite geometric series word problems"]
    "Polynomial division"
    ["Divide polynomials by x (no remainders)"
     "Divide polynomials by x (with remainders)"
     "Divide quadratics by linear expressions (no remainders)"
     "Divide quadratics by linear expressions (with remainders)"
     "Divide polynomials by linear expressions"
     "Factor using polynomial division"
     "Remainder theorem"
     "Remainder theorem and factors"]
    "Polynomial graphs"
    ["Zeros of polynomials (factored form)"
     "Zeros of polynomials (with factoring)"
     "Positive & negative intervals of polynomials"
     "Zeros of polynomials (multiplicity)"
     "End behavior of polynomials"]
    "Rational exponents and radicals"
    ["Unit-fraction exponents"
     "Fractional exponents"
     "Rational exponents challenge"
     "Properties of exponents intro (rational exponents)"
     "Properties of exponents (rational exponents)"
     "Evaluate radical expressions challenge"
     "Rewrite exponential expressions"
     "Equivalent forms of exponential expressions"
     "Solve exponential equations using exponent properties"
     "Solve exponential equations using exponent properties (advanced)"]
    "Exponential models"
    ["Interpret change in exponential models"
     "Interpret time in exponential models"
     "Construct exponential models"
     "Interpret change in exponential models: with manipulation"
     "Interpret change in exponential models: changing units"]
    "Logarithms"
    ["Evaluate logarithms"
     "Evaluate logarithms (advanced)"
     "Relationship between exponentials & logarithms"
     "Use the properties of logarithms"
     "Evaluate logarithms: change of base rule"
     "Use the logarithm change of base rule"
     "Solve exponential equations using logarithms: base-10 and base-e"
     "Solve exponential equations using logarithms: base-2 and other bases"
     "Exponential model word problems"]
    "Transformations of functions"
    ["Shift functions"
     "Reflect functions"
     "Even and odd functions: Graphs and tables"
     "Even & odd functions: Equations"
     "Scale functions vertically"
     "Scale functions horizontally"
     "Identify function transformations"
     "Graphs of square and cube root functions"
     "Graphs of exponential functions"
     "Graphs of logarithmic functions"]
    "Equations"
    ["Rational equations intro"
     "Rational equations"
     "Find inverses of rational functions"
     "Square-root equations intro"
     "Square-root equations"
     "Extraneous solutions of equations"
     "Quadratic systems"
     "Solving equations graphically: intro"
     "Solving equations graphically: graphing calculator"
     "Solving equations graphically: word problems"]
    "Trigonometry"
    ["Unit circle"
     "Radians & degrees"
     "Unit circle (with radians)"
     "Use the Pythagorean identity"
     "Trig values of special angles"
     "Midline of sinusoidal functions from graph"
     "Amplitude of sinusoidal functions from graph"
     "Period of sinusoidal functions from graph"
     "Amplitude of sinusoidal functions from equation"
     "Midline of sinusoidal functions from equation"
     "Period of sinusoidal functions from equation"
     "Graph sinusoidal functions"
     "Construct sinusoidal functions"
     "Graph sinusoidal functions: phase shift"
     "Interpreting trigonometric graphs in context"
     "Modeling with sinusoidal functions"
     "Modeling with sinusoidal functions: phase shift"]
    "Modeling"
    ["Model with function combination"
     "Periodicity of algebraic models"
     "End behavior of algebraic models"
     "Manipulate formulas"
     "Graph labels and scales"
     "Equations & inequalities word problems"
     "Modeling with multiple variables"
     "Interpreting expressions with multiple variables"]}}